<div class="game-container">
  <div class="game-area" [style.background-image]="backgroundImage">
    <app-player></app-player>
    @for (obstacle of obstacles; track $index) {
    <app-obstacle
    [x]="obstacle.x"
    [y]="obstacle.y"
    [text]="obstacle.text"
    [isActive]="$index === currentObstacleIndex"
    [isCompleted]="$index <= currentObstacleIndex - 1 " 
    (clicked)="onObstacleClick($index)"
  ></app-obstacle>
    }
    @if(displayText){
    <div class="display-text" >{{ displayText }}</div>
    }
    @if(showNextLevelArrow){
    <div
      class="next-level-arrow"
      (click)="onNextLevelClick()"
    >
      →
    </div>
  }
  </div>
</div>




<!-- <div class="game-container">
  <div class="game-area">
    <app-player></app-player>
    @for (obstacle of obstacles; track $index) {
    <app-obstacle
      [x]="obstacle.x"
      [y]="obstacle.y"
      [text]="obstacle.text"
      [isActive]="obstacle.isActive"
      [isCompleted]="obstacle.isCompleted"
      (clicked)="onObstacleClick($index)"
    ></app-obstacle>}
    @if(displayText){
    <div class="display-text">{{ displayText }}</div>
    }
    @if(showNextLevelArrow){
    <div
      class="next-level-arrow"
      (click)="onNextLevelClick()"
    >
      →
    </div>       
  }
  </div>
</div> -->